html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}
#webgl::before {
  content: 'C TRIKYAS M';
  font-family: fantasy;
  position: absolute;
  z-index: 99999;
  width: 150px;
  height: 30px;
  color: #fff;
  font-size: 2em;
  line-height: 3em;
  text-align: center;
  padding-top: 30px;
}

